<app-header>
</app-header>
<section id="registro " class="seccion ">

    <div class="caja_box ">

        <div class="container ">

            <div class="row ">

                <div class="col-sm-3 "></div>

                <div class="col-sm-6 ">


                    <div class="login_side ">

                        <form>

                            <label for="nombre " class="form-label ">Nombre completo</label>

                            <div class="input-group mb-3 ">
                                <input type="text " class="form-control " placeholder="Clark Kent " id="nombre " required>

                            </div>

                            <label for="fecha " class="form-label ">Fecha de nacimiento</label>

                            <div class="input-group mb-3 ">
                                <input type="text " class="form-control " placeholder="DD / MM / AAAA " id="fecha " required>

                            </div>


                            <label for="ciudad " class="form-label ">Ciudad</label>

                            <div class="input-group mb-3 ">
                                <input type="text " class="form-control " placeholder="Barcelona " id="ciudad " required>

                            </div>

                            <label for="correo " class="form-label ">Ingresa con tu correo</label>

                            <div class="input-group mb-3 ">
                                <input type="text " class="form-control " placeholder="clark@elplanetario.com " id="correo " required>

                            </div>

                            <label for="pass " class="form-label ">Crea un contraseña</label>

                            <div class="input-group mb-3 ">
                                <input type="text " class="form-control " type="password " placeholder="Contraseña " id="pass " required>
                                <span class="input-group-text "><img src="/assets/images/ojo.svg "></span>
                            </div>

                            <input type="submit " value="crear cuenta ">


                        </form>


                    </div>

                </div>


            </div>

        </div>

    </div>

</section>