<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="/assets/images/Brand-Lucro.svg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link menu_link" href="#" routerLink="/inicio" routerLinkActive="activo">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu_link" href="#" routerLink="/quees" routerLinkActive="activo">¿Qué es Lucro App?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu_link" href="#" routerLink="/como" routerLinkActive="activo">¿Cómo te lucras?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu_link" href="#" routerLink="/comunidad" routerLinkActive="activo">La Comunidad</a>
                </li>

            </ul>

            <!--<ul class="right_top">
                <li><a class="menu_link" routerLink="/login">Ingresar</a></li>
                <li><a class="menu_link signup" routerLink="/registro">Registrarme</a></li>
            </ul>-->

        </div>
    </div>
</nav>

<a class="whatsappme" href="https://api.whatsapp.com/send?phone=12029792420" target="_blank">
    <svg id="wame_svg__logo" viewBox="0 0 24 24"><path fill="#fff" d="M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 01-13.754 2.299l-5.814.735a.392.392 0 01-.438-.44l.748-5.788A12.002 12.002 0 013.517 3.517zm3.61 17.043l.3.158a9.846 9.846 0 0011.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 00-1.747 11.554l.16.303-.51 3.942a.196.196 0 00.219.22l3.961-.501zm6.534-7.003l-.933 1.164a9.843 9.843 0 01-3.497-3.495l1.166-.933a.792.792 0 00.23-.94L9.561 6.96a.793.793 0 00-.924-.445 1291.6 1291.6 0 00-2.023.524.797.797 0 00-.588.88 11.754 11.754 0 0010.005 10.005.797.797 0 00.88-.587l.525-2.023a.793.793 0 00-.445-.923L14.6 13.327a.792.792 0 00-.94.23z"></path></svg>
</a>