<app-header>
</app-header>

<section id="como" class="seccion">

    <div class="caja_box">

        <div class="container">

            <div class="row">
                <div class="col-sm left_home">

                    <div class="red wow fadeInLeft" data-wow-delay="0.5s">Lucro App</div>
                    <h3 class="wow fadeInLeft" data-wow-delay="1s">Te Lucras de <br>muchas formas</h3>

                    <div class="text_top_home wow fadeInLeft" data-wow-delay="1.5s">
                        Según la descripción y el color del desafío que completes

                    </div>



                </div>
                <div class="col-sm right_home_como">

                    <div class="personaje wow fadeIn" data-wow-delay="2.5s">

                        <div class="presonaje_main"></div>

                    </div>

                    <img src="/assets/images/bolas2.png" class="img-fluid bolas_retos2 wow fadeInDown" data-wow-delay="2s">

                    <img src="/assets/images/b1.png" data-tab="premios" class="b1 wow bounceIn bola" data-wow-delay="2.5s">
                    <img src="/assets/images/b2.png" data-tab="bonificacion" class="b2 wow bounceIn bola" data-wow-delay="3.5s">
                    <img src="/assets/images/b3.png" data-tab="beneficios" class="b3 wow bounceIn bola" data-wow-delay="4s">
                    <img src="/assets/images/b4.png" data-tab="dinero" class="b4 wow bounceIn bola" data-wow-delay="3s">



                </div>
            </div>

        </div>
    </div>




    <div class="caja_box tabs_content" data-color="premios_back" id="tabsContent">

        <div class="container">

            <div class="row">
                <div class="col-sm-12">


                    <ul class="nav nav-tabs justify-content-center nav-pills wow fadeInUpBig" data-wow-delay="0.5s" id="myTab" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="premios-tab" data-class="premios_back" data-bs-toggle="tab" data-bs-target="#premios" type="button" role="tab" aria-controls="premios" aria-selected="false">Premios</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="dinero-tab" data-class="dinero_back" data-bs-toggle="tab" data-bs-target="#dinero" type="button" role="tab" aria-controls="dinero" aria-selected="false">Dinero</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="bonificacion-tab" data-class="bonificacion_back" data-bs-toggle="tab" data-bs-target="#bonificacion" type="button" role="tab" aria-controls="bonificacion" aria-selected="false">Bonificaciones</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-class="beneficios_back" id="beneficios-tab" data-bs-toggle="tab" data-bs-target="#beneficios" type="button" role="tab" aria-controls="beneficios" aria-selected="true">Beneficios</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade" id="beneficios" role="tabpanel" aria-labelledby="home-tab">

                            <div class="row">

                                <div class="col-sm order-2 order-sm-1 left_panel animated fadeInLeft delay-2">

                                    <div class="info">

                                        <img src="/assets/images/icon_tab1.png" class="img-fluid">

                                        <strong>Desafíos Rojos</strong> Te permiten ganar beneficios al instante, como promociones, cupones, descuentos y más.

                                        <a class="btn" href="https://play.google.com/store/apps/details?id=com.lucro" target="_blank">¡Quiero ir a ganar!</a>

                                    </div>



                                </div>
                                <div class="col-sm order-1 order-sm-2 right_panel">

                                    <img src="/assets/images/beneficios.png" class="img-fluid animated fadeInRight animated fadeInRight delay-4 beneficios">

                                    <img src="/assets/images/beneficios3.png" class="img-fluid animated fadeInLeft delay-6 beneficios3">



                                    <div class="beneficios1 delay-6 fadeIn animated">
                                        <img src="/assets/images/beneficios1.png" class="img-fluid avatar">
                                    </div>

                                    <div class="beneficios2 delay-5 fadeIn animated">
                                        <img src="/assets/images/beneficios2.png" class="img-fluid flip animated">
                                    </div>



                                </div>

                            </div>


                        </div>
                        <div class="tab-pane fade show active" id="premios" role="tabpanel" aria-labelledby="premios-tab">

                            <div class="row">

                                <div class="col-sm order-2 order-sm-1 left_panel animated fadeInLeft delay-2 wow">

                                    <div class="info">

                                        <img src="/assets/images/icon_tab2.png" class="img-fluid">

                                        <strong>Desafíos Blancos</strong>Te permiten ganar Lucro-Fichas para realizar divertidos juegos y participar por grandes premios.
                                        <a class="btn" href="https://play.google.com/store/apps/details?id=com.lucro" target="_blank">¡Quiero ir a ganar!</a>

                                    </div>




                                </div>
                                <div class="col-sm order-1 order-sm-2 right_panel">

                                    <img src="/assets/images/premios.png" class="img-fluid animated fadeInRight animated fadeInRight delay-4 premios">

                                    <img src="/assets/images/premios3.png" class="img-fluid animated fadeInRight delay-6 premios3">



                                    <div class="premios1 delay-6 fadeIn animated">
                                        <img src="/assets/images/premios1.png" class="img-fluid avatar">
                                    </div>

                                    <div class="premios2 delay-5 fadeIn animated">
                                        <img src="/assets/images/premios2.png" class="img-fluid flip animated">
                                    </div>



                                </div>

                            </div>



                        </div>
                        <div class="tab-pane fade" id="dinero" role="tabpanel" aria-labelledby="dinero-tab">

                            <div class="row">

                                <div class="col-sm order-2 order-sm-1 left_panel animated fadeInLeft delay-2">

                                    <div class="info">

                                        <img src="/assets/images/icon_tab3.png" class="img-fluid">

                                        <strong>Desafíos Verdes</strong> Te permiten acumular puntos que podrás redimir en dinero a través de una cuenta Nequi, Bancolombia a la mano o Daviplata.
                                        <a class="btn" href="https://play.google.com/store/apps/details?id=com.lucro" target="_blank">¡Quiero ir a ganar!</a>

                                    </div>



                                </div>
                                <div class="col-sm order-1 order-sm-2 right_panel">

                                    <img src="/assets/images/dinero.png" class="img-fluid animated fadeInRight animated fadeInRight delay-4 dinero">





                                    <div class="dinero1 delay-6 fadeIn animated">
                                        <img src="/assets/images/dinero1.png" class="img-fluid avatar">
                                    </div>


                                    <img src="/assets/images/dinero2.png" class="img-fluid animated fadeInLeft delay-6 dinero2">

                                    <div class="dinero3 delay-5 fadeIn animated">
                                        <img src="/assets/images/dinero3.png" class="img-fluid flip animated">
                                    </div>




                                </div>

                            </div>

                        </div>

                        <div class="tab-pane fade" id="bonificacion" role="tabpanel" aria-labelledby="bonificacion-tab">


                            <div class="row">

                                <div class="col-sm order-2 order-sm-1 left_panel animated fadeInLeft delay-2">

                                    <div class="info">

                                        <img src="/assets/images/icon_tab4.png" class="img-fluid">

                                        <strong>Desafíos Bonificación</strong>Te permiten obtener los puntos correspondientes a un premio. Una vez recibes la carga de puntos, podrás redimirlos en dinero.
                                        <a class="btn" href="https://play.google.com/store/apps/details?id=com.lucro" target="_blank">¡Quiero ir a ganar!</a>

                                    </div>



                                </div>
                                <div class="col-sm order-1 order-sm-2 right_panel">

                                    <img src="/assets/images/bonificaciones.png" class="img-fluid animated fadeInRight animated fadeInRight delay-4 bonificaciones">




                                    <img src="/assets/images/bonificaciones2.png" class="img-fluid animated fadeInLeft delay-6 bonificaciones2">

                                    <div class="bonificaciones1 delay-6 fadeIn animated">
                                        <img src="/assets/images/bonificaciones1.png" class="img-fluid avatar">
                                    </div>

                                    <div class="bonificaciones3 delay-5 fadeIn animated">
                                        <img src="/assets/images/bonificaciones3.png" class="img-fluid flip animated">
                                    </div>




                                </div>

                            </div>





                        </div>
                    </div>



                </div>

            </div>

        </div>
    </div>



    <div class="caja_box compara">

        <div class="container">

            <div class="row">
                <div class="col-sm left_compara wow fadeInLeft" data-wow-delay="0.5s">



                    <img src="/assets/images/phone.png" class="img-fluid phone_compara">

                    <!--<div class="top_phone"><img src="/assets/images/top_phone.png" class="img-fluid "></div>-->

                    <div class="scroll_compara visible_desk">

                        <iframe src="https://comparaprecios.lucro-app.com/home" scrolling="none"></iframe>

                    </div>

                    <div class="gift_compara visible_mobile">
                        <img src="/assets/images/comparador.gif" class="img-fluid">
                    </div>

                </div>
                <div class="col-sm right_compara">

                    <div class="text_compara">

                        <img src="/assets/images/pesos.png" class="img-fluid wow fadeInRight" data-wow-delay="1s">

                        <h3 class="wow fadeInRight" data-wow-delay="1.5s">Compara precios Lucro</h3>

                        <div class="wow fadeInRight" data-wow-delay="2s">Ahorrar es otra forma de lucrarte. Con el “Compara Precios Lucro”, consulta tus productos y descubre dónde los puedes comprar más barato.</div>

                    </div>


                    <a class="btn wow fadeInRight" data-wow-delay="2.5s" href="https://comparaprecios.lucro-app.com/home" target="_blank">Ir a ver precios</a>


                </div>
            </div>

        </div>
    </div>


    <div class="caja_box">

        <div class="container">

            <div class="row wow fadeInUpBig" data-wow-delay="0.5s">



                <div class="col slider_principal">

                    <h3>Premios de la semana</h3>

                    <div class="slider_all">
                        <div class="slide">
                            <img src="/assets/images/banner.png" class="img-fluid visible_desk">
                            <img src="/assets/images/banner2.png" class="img-fluid visible_mobile">
                        </div>
                        <div class="slide">
                            <img src="/assets/images/banner.png" class="img-fluid visible_desk ">
                            <img src="/assets/images/banner2.png" class="img-fluid visible_mobile ">
                        </div>
                        <div class="slide">
                            <img src="/assets/images/banner.png" class="img-fluid visible_desk">
                            <img src="/assets/images/banner2.png" class="img-fluid visible_mobile ">
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <footer class="footer como_lucrarse">

        <app-footer>
        </app-footer>

    </footer>

</section>