<app-header>
</app-header>

<section id="como" class="seccion">

    <div class="caja_box">

        <div class="container">

            <div class="row">
                <div class="col-sm left_home">

                    <div class="red wow fadeInLeft" data-wow-delay="0.5s">Lucro App</div>
                    <h3 class="wow fadeInLeft" data-wow-delay="1s">Te Lucras de <br>muchas formas</h3>

                    <div class="text_top_home wow fadeInLeft" data-wow-delay="1.5s">
                        Según la descripción y el color del desafío que completes

                    </div>



                </div>
                <div class="col-sm right_home_como wow fadeIn">

                    <div class="personaje wow fadeIn"></div>
                    <img src="/assets/images/bolas.png" class="img-fluid bolas_retos">
                    <img src="/assets/images/bolas2.png" class="img-fluid bolas_retos2">



                </div>
            </div>

        </div>
    </div>



    <div class="caja_box tabs_content" data-color="premios_back">

        <div class="container">

            <div class="row">
                <div class="col-sm-12">


                    <ul class="nav nav-tabs justify-content-center nav-pills wow fadeInUpBig" data-wow-delay="0.5s" id="myTab" role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="premios-tab" data-class="premios_back" data-bs-toggle="tab" data-bs-target="#premios" type="button" role="tab" aria-controls="premios" aria-selected="false">Premios</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="dinero-tab" data-class="dinero_back" data-bs-toggle="tab" data-bs-target="#dinero" type="button" role="tab" aria-controls="dinero" aria-selected="false">Dinero</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="bonificacion-tab" data-class="bonificacion_back" data-bs-toggle="tab" data-bs-target="#bonificacion" type="button" role="tab" aria-controls="bonificacion" aria-selected="false">Bonificaciones</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-class="beneficios_back" id="beneficios-tab" data-bs-toggle="tab" data-bs-target="#beneficios" type="button" role="tab" aria-controls="beneficios" aria-selected="true">Beneficios</button>
                        </li>
                    </ul>
                    <div class="tab-content wow fadeInUpBig" data-wow-delay="1s" id="myTabContent">
                        <div class="tab-pane fade" id="beneficios" role="tabpanel" aria-labelledby="home-tab">

                            <div class="row">

                                <div class="col-sm order-2 order-sm-1 left_panel">

                                    <div class="info">

                                        <img src="/assets/images/icon_tab1.png" class="img-fluid">

                                        <strong>Desafíos Rojos</strong> Te permiten ganar beneficios al instante, como promociones, cupones, descuentos y más.

                                        <a class="btn" href="#">¡Quiero ir a ganar!</a>

                                    </div>



                                </div>
                                <div class="col-sm order-1 order-sm-2">

                                    <img src="/assets/images/beneficios.png" class="img-fluid">


                                </div>

                            </div>


                        </div>
                        <div class="tab-pane fade show active" id="premios" role="tabpanel" aria-labelledby="premios-tab">

                            <div class="row">

                                <div class="col-sm order-2 order-sm-1 left_panel">

                                    <div class="info">

                                        <img src="/assets/images/icon_tab2.png" class="img-fluid">

                                        <strong>Desafíos Blancos</strong>Te permiten ganar Lucro-Fichas para realizar divertidos juegos y participar por grandes premios.
                                        <a class="btn" href="#">¡Quiero ir a ganar!</a>

                                    </div>



                                </div>
                                <div class="col-sm order-1 order-sm-2">

                                    <img src="/assets/images/premios.png" class="img-fluid">


                                </div>

                            </div>



                        </div>
                        <div class="tab-pane fade" id="dinero" role="tabpanel" aria-labelledby="dinero-tab">

                            <div class="row">

                                <div class="col-sm order-2 order-sm-1 left_panel">

                                    <div class="info">

                                        <img src="/assets/images/icon_tab2.png" class="img-fluid">

                                        <strong>Desafíos Verdes</strong> Te permiten acumular puntos que podrás redimir en dinero a través de una cuenta Nequi, Bancolombia a la mano o Daviplata.
                                        <a class="btn" href="#">¡Quiero ir a ganar!</a>

                                    </div>



                                </div>
                                <div class="col-sm order-1 order-sm-2">

                                    <img src="/assets/images/dinero.png" class="img-fluid">


                                </div>

                            </div>

                        </div>

                        <div class="tab-pane fade" id="bonificacion" role="tabpanel" aria-labelledby="bonificacion-tab">


                            <div class="row">

                                <div class="col-sm order-2 order-sm-1 left_panel">

                                    <div class="info">

                                        <img src="/assets/images/icon_tab2.png" class="img-fluid">

                                        <strong>Desafíos Bonificación</strong>Te permiten obtener los puntos correspondientes a un premio. Una vez recibes la carga de puntos, podrás redimirlos en dinero.
                                        <a class="btn" href="#">¡Quiero ir a ganar!</a>

                                    </div>



                                </div>
                                <div class="col-sm order-1 order-sm-2">

                                    <img src="/assets/images/bonificaciones.png" class="img-fluid">


                                </div>

                            </div>





                        </div>
                    </div>



                </div>

            </div>

        </div>
    </div>



    <div class="caja_box compara">

        <div class="container">

            <div class="row">
                <div class="col-sm left_compara wow fadeInLeft" data-wow-delay="0.5s">



                    <img src="/assets/images/phone.png" class="img-fluid phone_compara">

                    <div class="top_phone"><img src="/assets/images/top_phone.png" class="img-fluid "></div>

                    <div class="scroll_compara">

                        <img src="/assets/images/comparador.png" class="img-fluid">

                    </div>

                </div>
                <div class="col-sm right_compara">

                    <div class="text_compara">

                        <img src="/assets/images/pesos.png" class="img-fluid wow fadeInRight" data-wow-delay="1s">

                        <h3 class="wow fadeInRight" data-wow-delay="1.5s">Compara precios Lucro</h3>

                        <div class="wow fadeInRight" data-wow-delay="2s">Ahorrar es otra forma de lucrarte. Con el “Compara Precios Lucro”, consulta tus productos y descubre dónde los puedes comprar más barato.</div>

                    </div>


                    <a class="btn wow fadeInRight" data-wow-delay="2.5s" href="#">Ir a ver precios</a>


                </div>
            </div>

        </div>
    </div>


    <!--<div class="caja_box">

        <div class="container">

            <div class="row wow fadeInUpBig" data-wow-delay="0.5s">
                <div class="col slider_principal">

                    <div class="slider_all">
                        <div class="slide">
                            <img src="/assets/images/banner.png" class="img-fluid visible_desk">
                            <img src="/assets/images/banner2.png" class="img-fluid visible_mobile">
                        </div>
                        <div class="slide">
                            <img src="/assets/images/banner.png" class="img-fluid visible_desk ">
                            <img src="/assets/images/banner2.png" class="img-fluid visible_mobile ">
                        </div>
                        <div class="slide">
                            <img src="/assets/images/banner.png" class="img-fluid visible_desk">
                            <img src="/assets/images/banner2.png" class="img-fluid visible_mobile ">
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>-->


    <footer class="footer como_lucrarse">

        <div class="container">


            <div class="row logo_footer">


                <div class="col">
                    <img src="/assets/images/Brand-Lucro.png" class="logo_footer">
                </div>


            </div>


            <div class="row links_footer">




                <div class="col-sm-3">


                    <strong>Lucro App</strong>
                    <ul>

                        <li><a href="#">¿Qué es lucro App?</a></li>
                        <li><a href="#">¿Cómo te Lucras?</a></li>
                        <li><a href="#">La comunidad</a></li>

                    </ul>


                </div>
                <div class="col-sm-3">

                    <!--
                    <strong>Lucro Inside</strong>
                    <ul>

                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Estudios de mercado</a></li>
                        <li><a href="#">Quienes somos</a></li>

                    </ul>
                   -->


                </div>
                <div class="col-sm-3">


                </div>
                <div class="col-sm-3 apps_lisks">

                    <strong>Descárgala aquí</strong>

                    <img src="/assets/images/ios.png" class="store_footer">
                    <img src="/assets/images/android.png" class="store_footer">


                </div>


            </div>


            <div class="row copy">

                <div class="col-sm-8 order-2 order-sm-1 copy_main">
                    © 2020 Lucro App - Términos y Condiciones de Lucro App y Políticas de Privacidad
                </div>
                <div class="col-sm-4 order-1 order-sm-2">


                    <ul class="redes ">
                        <li>
                            <a href="https://www.instagram.com/lucroappoficial/" target="_blank"><img src="/assets/images/instagram.png "></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/lucro-app-col/" target="_blank"><img src="/assets/images/linkedin.png "></a>
                        </li>
                        <!--
                        <li>
                            <a href="https://www.facebook.com/lucroappoficial/" target="_blank"><img src="/assets/images/facebook.png "></a>
                        </li>

                    -->
                    </ul>



                </div>


            </div>





        </div>

    </footer>

</section>