<app-header>
</app-header>
<section id="quees" class="seccion">


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe width="800" height="500" src="https://www.youtube.com/embed/WlXZohfdRgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalReglamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <h3>Reglamento lucro</h3>

                La principal regla es que la información solicitada en los desafíos corresponda con la realidad del mercado, gustos e intereses de los usuarios. Lucro realiza auditorías para detectar infracciones calificadas como “faltas”.<br><br> Las
                faltas se comenten cuando por ejemplo se sube una foto falsa, se envían respuestas incongruentes o se trata de engañar al sistema.

                <br>

                <a class="btn" href="https://lucro-app.com/documentos/Lucro-Reglamento.pdf" target="_blank">Reglamento completo de Lucro</a>

            </div>
        </div>
    </div>

    <div class="caja_box">


        <div class="container home_quees">

            <div class="row">
                <div class="col-sm left_home order-2 order-sm-1">

                    <div class="red wow fadeInLeft">Lucro App</div>
                    <h3 class="wow fadeInLeft" data-wow-delay="0.5s">

                        <ng-container *ngIf="arrContenidos">
                            {{arrContenidos[0].titulo}}
                        </ng-container>

                    </h3>

                    <div class="text_top_home wow fadeInLeft" data-wow-delay="1s">

                        <ng-container *ngIf="arrContenidos">
                            <div [innerHtml]="arrContenidos[0].contenido"> </div>
                        </ng-container>

                    </div>


                </div>
                <div class="col-sm right_home order-1 order-sm-2">

                    <div class="video" data-bs-toggle="modal" data-bs-target="#exampleModal">

                        <img class="wow fadeInLeft video1" data-wow-delay="1.5s" src="/assets/images/video1.png">
                        <img class="wow fadeInDown video2" data-wow-delay="1.8s" src="/assets/images/video2.png">
                        <img class="wow fadeInRight video3" data-wow-delay="2.1s" src="/assets/images/video3.png">
                        <img class="wow fadeInUp video4" data-wow-delay="2.4s" src="/assets/images/video4.png">
                        <img class="wow fadeInUp video5" data-wow-delay="2.7s" src="/assets/images/video5.png">
                        <img class="wow fadeInRight video6" data-wow-delay="3s" src="/assets/images/video6.png">

                        <img class="wow bounceIn video_main img-fluid" data-wow-delay="3.3s" src="/assets/images/player.png">


                    </div>

                </div>
            </div>



        </div>

    </div>





    <div class="desafios">


        <div class="caja_box">

            <div class="container">

                <div class="row">

                    <div class="col-sm intro_desafios order-2 order-sm-1  wow fadeInLeft" data-wow-delay="0s">

                        <h3>

                            <ng-container *ngIf="arrContenidos">
                                {{arrContenidos[1].titulo}}
                            </ng-container>
                        </h3>

                        <ng-container *ngIf="arrContenidos">
                            <div [innerHtml]="arrContenidos[1].contenido"> </div>
                        </ng-container>

                    </div>

                    <div class="col-sm right_desafios img_desafios order-1 order-sm-2">

                        <img src="/assets/images/desafios2.png" class="img-fluid desafios2 wow fadeInRight" data-wow-delay="0.3s">

                        <img src="/assets/images/desafios1.png" class="img-fluid desafios1 wow rotateInUpRight" data-wow-delay="0.6s">

                        <div class="desafios3 wow fadeInDown" data-wow-delay="0.9s"></div>


                    </div>

                </div>


            </div>

        </div>

        <div class="caja_box">

            <div class="container">

                <div class="row">

                    <div class="col-sm wow fadeInLeft reglamento_box" data-wow-delay="0s">

                        <h3>
                            <ng-container *ngIf="arrContenidos">
                                {{arrContenidos[2].titulo}}
                            </ng-container>
                        </h3>

                        <a class="visible_desk btn_reglamento" data-bs-toggle="modal" data-bs-target="#exampleModalReglamento" href="#">Ir a ver reglamento de Lucro app</a>


                    </div>

                    <div class="col-sm right_desafios">

                        <ng-container *ngIf="arrContenidos">
                            <div [innerHtml]="arrContenidos[2].contenido"> </div>
                        </ng-container>

                        <!--<div class="row wow fadeInRight" data-wow-delay="0.3s">

                            <div class="col">

                                <img class="bullet" src="/assets/images/check.svg"> Los desafíos rojos te permiten ganar beneficios al instante.
                            </div>

                        </div>

                        <div class="row wow fadeInRight" data-wow-delay="0.6s">

                            <div class="col">

                                <img class="bullet blanca" src="/assets/images/check3.svg"> Los desafíos blancos te permiten ganar Lucro-fichas para realizar juegos y participar por grandes premios.
                            </div>

                        </div>

                        <div class="row wow fadeInRight" data-wow-delay="0.9s">

                            <div class="col">

                                <img class="bullet verde" src="/assets/images/check.svg">Los desafíos verdes te permiten acumular puntos que podrás redimir en dinero.
                            </div>

                        </div>

                        <!--<div class="row  wow fadeInRight" data-wow-delay="2.5s">

                            <div class="col">

                                <img class="bullet lila" src="/assets/images/check.svg"> Los desafíos "Bonificación" te permiten obtener los puntos correspondientes a un premio. Una vez se recibe la carga de puntos, estos se podrás redimir en dinero.
                            </div>

                        </div>

                        <div class="row wow fadeInRight" data-wow-delay="1.2s">

                            <div class="col">

                                <img class="bullet gris" src="/assets/images/check2.svg"> Los desafíos Bonificación te permiten obtener los puntos correspondientes a un premio. Una vez recibes la carga de puntos, podrás redimirlos en dinero.

                            </div>

                            <a class="visible_mobile wow fadeInRight btn_reglamento" data-bs-toggle="modal" data-bs-target="#exampleModalReglamento" href="#" data-wow-delay="1.5s">Ir a ver reglamento de Lucro app</a>



                        </div>-->

                    </div>







                </div>

            </div>

        </div>

    </div>


    <div class="caja_box ser_miembro">

        <div class="container">

            <div class="row">

                <div class="col-sm wow fadeInUpBig" data-wow-delay="0.6s">

                    <img src="/assets/images/miembro.png" class="img-fluid miembro_image">

                </div>

                <div class="col-sm">
                    <h3 class="wow fadeInRight" data-wow-delay="0.3s">

                        <ng-container *ngIf="arrContenidos">
                            {{arrContenidos[3].titulo}}
                        </ng-container>
                    </h3>

                    <ng-container *ngIf="arrContenidos">
                        <div [innerHtml]="arrContenidos[3].contenido"> </div>
                    </ng-container>

                    <!--<div class="row lista_item wow fadeInUp" data-wow-delay="0.6s">

                        <div class="col align-middle align-items-center d-flex">
                            <div class="icon_lila d-flex"><img src="/assets/images/icon1.png"> </div> Ser mayor de 18 años.
                        </div>

                    </div>
                    <div class="row lista_item wow fadeInUp" data-wow-delay="0.9s">

                        <div class="col align-middle align-items-center d-flex">

                            <div class="icon_lila d-flex"><img src="/assets/images/icon2.png"> </div>Tener nacionalidad colombiana o residir legalmente en Colombia, con un documento que lo acredite (Cédula de Ciudadanía o Cédula de Extranjería).
                        </div>

                    </div>
                    <div class="row lista_item wow fadeInUp" data-wow-delay="1.2s">

                        <div class="col align-middle align-items-center d-flex">

                            <div class="icon_lila d-flex"><img src="/assets/images/icon3.png"> </div>Tener un celular inteligente con datos o conexión Wifi.
                        </div>

                    </div>-->



                </div>

            </div>



        </div>

    </div>




    <div class="caja_box nuestras_insignias">

        <div class="container">

            <h3 class="wow pulse">Nuestras insignias</h3>

            <div class="row">

                <div class="col-sm wow fadeInUpBig" data-wow-delay="0.3s">

                    <img src="/assets/images/insignia1.png" class="wow bounceInLeft" data-wow-delay="0.5s" data-wow-duration="2s"><br>
                    <h5>
                        <ng-container *ngIf="arrContenidos">
                            {{arrContenidos[4].titulo}}
                        </ng-container>
                    </h5>

                    <ng-container *ngIf="arrContenidos">
                        <div [innerHtml]="arrContenidos[4].contenido"> </div>
                    </ng-container>

                </div>
                <div class="col-sm wow fadeInUpBig" data-wow-delay="0.6s">

                    <img src="/assets/images/insignia2.png" class="wow swing" data-wow-delay="0.8s" data-wow-duration="2s"><br>
                    <h5>
                        <ng-container *ngIf="arrContenidos">
                            {{arrContenidos[5].titulo}}
                        </ng-container>
                    </h5>

                    <ng-container *ngIf="arrContenidos">
                        <div [innerHtml]="arrContenidos[5].contenido"> </div>
                    </ng-container>

                </div>
                <div class="col-sm wow fadeInUpBig" data-wow-delay="0.9s">


                    <img src="/assets/images/insignia3.png" class="wow bounceInRight" data-wow-delay="1.2s" data-wow-duration="2s"><br>
                    <h5>
                        <ng-container *ngIf="arrContenidos">
                            {{arrContenidos[6].titulo}}
                        </ng-container>
                    </h5>

                    <ng-container *ngIf="arrContenidos">
                        <div [innerHtml]="arrContenidos[6].contenido"> </div>
                    </ng-container>

                </div>

            </div>

        </div>

    </div>

    <footer class="footer">

        <div class="container">

            <div class="row">

                <div class="col-sm">

                    <div class="wow rollIn" data-wow-delay="0.5s">
                        <img src="/assets/images/phone_footer.png" class="img-fluid phone_footer">
                    </div>
                </div>

                <div class="col-sm wow fadeInRight" data-wow-delay="1s">

                    <img src="/assets/images/qr.png" class="qr"><br>
                    <h3>

                        <ng-container *ngIf="arrContenidos">
                            {{arrContenidos[7].titulo}}
                        </ng-container>

                    </h3>

                    <ng-container *ngIf="arrContenidos">
                        <div [innerHtml]="arrContenidos[7].contenido"> </div>
                    </ng-container>

                    <div class="tiendas">
                        <a href="https://apps.apple.com/us/app/lucro/id1538248328" target="_blank"><img src="/assets/images/ios.png" class="store"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.lucro" target="_blank"><img src="/assets/images/android.png" class="store"></a>
                    </div>


                </div>

            </div>


        </div>

        <app-footer>
        </app-footer>

    </footer>


</section>