<app-header>
</app-header>
<section id="quees" class="seccion">

    <div class="caja_box">

        <div class="container home_quees">

            <div class="row">
                <div class="col-sm left_home order-2 order-sm-1">

                    <div class="red wow fadeInLeft">Lucro App</div>
                    <h3 class="wow fadeInLeft" data-wow-delay="0.5s">La comunidad que se lucra de muchas formas</h3>

                    <div class="text_top_home wow fadeInLeft" data-wow-delay="1s">
                        Como miembro de Lucro puedes recibir varios desafíos: Los rojos te dan descuentos, con los blancos ganas fichas, juegas y participas por premios y con los verdes, acumulas puntos redimibles en dinero. Viajes, bonos, dinero y más en una sola App.

                    </div>


                </div>
                <div class="col-sm right_home wow fadeInRight order-1 order-sm-2" data-wow-delay="1.5s">

                    <div class="video">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/SETjCb2Ek-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                </div>
            </div>



        </div>

    </div>


    <div class="desafios">


        <div class="caja_box">

            <div class="container">

                <div class="row">

                    <div class="col-sm intro_desafios order-2 order-sm-1  wow fadeInLeft" data-wow-delay="0.5s">

                        <h3>Desafíos en LUCRO</h3>

                        SSon actividades fáciles como llenar encuestas, tomar fotos en tu hogar o en tiendas (supermercados, establecimientos comerciales, entre otros) que estén cerca de tu ubicación. Con cada desafío, puedes lucrarte de muchas formas.
                    </div>

                    <div class="col-sm right_desafios img_desafios order-1 order-sm-2  wow fadeInRight" data-wow-delay="1.5s">

                        <img src="/assets/images/desafios.png" class="img-fluid">

                    </div>

                </div>


            </div>

        </div>

        <div class="caja_box">

            <div class="container">

                <div class="row">

                    <div class="col-sm wow fadeInLeft" data-wow-delay="0.5s">

                        <h3>¿Cuáles son los <br>tipos de desafíos?</h3>

                        <a class="btn visible_desk" href="#">Reglamento lucro</a>


                    </div>

                    <div class="col-sm right_desafios">

                        <div class="row wow fadeInRight" data-wow-delay="1s">

                            <div class="col">

                                <img class="bullet" src="/assets/images/check.svg"> Los desafíos rojos te permiten ganar beneficios al instante.
                            </div>

                        </div>

                        <div class="row wow fadeInRight" data-wow-delay="1.5s">

                            <div class="col">

                                <img class="bullet blanca" src="/assets/images/check3.svg"> Los desafíos blancos te permiten ganar Lucro-fichas para realizar juegos y participar por grandes premios.
                            </div>

                        </div>

                        <div class="row wow fadeInRight" data-wow-delay="2s">

                            <div class="col">

                                <img class="bullet verde" src="/assets/images/check.svg">Los desafíos verdes te permiten acumular puntos que podrás redimir en dinero.
                            </div>

                        </div>

                        <!--<div class="row  wow fadeInRight" data-wow-delay="2.5s">

                            <div class="col">

                                <img class="bullet lila" src="/assets/images/check.svg"> Los desafíos "Bonificación" te permiten obtener los puntos correspondientes a un premio. Una vez se recibe la carga de puntos, estos se podrás redimir en dinero.
                            </div>

                        </div>-->

                        <div class="row wow fadeInRight" data-wow-delay="2.5s">

                            <div class="col">

                                <img class="bullet gris" src="/assets/images/check2.svg"> Los desafíos Bonificación te permiten obtener los puntos correspondientes a un premio. Una vez se recibe la carga de puntos, estos se podrás redimir en dinero.
                            </div>

                        </div>

                        <a class="btn visible_mobile  wow fadeInRight" data-wow-delay="3.5s">href="#">Reglamento lucro</a>



                    </div>

                </div>







            </div>

        </div>

    </div>


    <div class="caja_box ser_miembro">

        <div class="container">

            <div class="row">

                <div class="col-sm wow fadeInUpBig" data-wow-delay="1s">

                    <img src="/assets/images/miembro.png" class="img-fluid miembro_image">

                </div>

                <div class="col-sm">
                    <h3 class="wow fadeInRight" data-wow-delay="0.5s">Lo que necesitas para ser miembro de Lucro</h3>

                    <div class="row lista_item wow fadeInUp" data-wow-delay="1s">

                        <div class="col align-middle align-items-center d-flex">
                            <div class="icon_lila d-flex"><img src="/assets/images/icon1.png"> </div> Ser mayor de 18 años.
                        </div>

                    </div>
                    <div class="row lista_item wow fadeInUp" data-wow-delay="1.5s">

                        <div class="col align-middle align-items-center d-flex">

                            <div class="icon_lila d-flex"><img src="/assets/images/icon2.png"> </div>Tener nacionalidad colombiana o residir legalmente en Colombia, con un documento que lo acredite (Cédula de Ciudadanía o Cédula de Extranjería).
                        </div>

                    </div>
                    <div class="row lista_item wow fadeInUp" data-wow-delay="2s">

                        <div class="col align-middle align-items-center d-flex">

                            <div class="icon_lila d-flex"><img src="/assets/images/icon3.png"> </div>Tener un celular inteligente con datos o conexión Wifi.
                        </div>

                    </div>



                </div>

            </div>



        </div>

    </div>




    <div class="caja_box nuestras_insignias">

        <div class="container">

            <h3 class="wow pulse">Nuestras insignias</h3>

            <div class="row">

                <div class="col-sm wow fadeInUpBig" data-wow-delay="1.5s">

                    <img src="/assets/images/insignia1.png"><br>
                    <h5>La seguridad de tus datos</h5>

                    Los datos de nuestros usuarios se procesan con altos estándares tecnológicos de seguridad por medio de una infraestructura que almacena y codifica la información personal para garantizar su protección y anonimato.


                </div>
                <div class="col-sm wow fadeInUpBig" data-wow-delay="2s">

                    <img src="/assets/images/insignia2.png"><br>
                    <h5>Comunicación transparente</h5>

                    La información que recopila Lucro se utiliza sólo con fines estadísticos y de investigación de mercado para la mejora de procesos empresariales y de la experiencia del consumidor, todo esto, dentro del marco legal de la compañía.


                </div>
                <div class="col-sm wow fadeInUpBig" data-wow-delay="2.5s">


                    <img src="/assets/images/insignia3.png"><br>
                    <h5>Tu información es importante
                    </h5>

                    Para nosotros, tu información es valiosa, por eso te recompensamos con diferentes beneficios. Dale la importancia que merece y sácale provecho.


                </div>

            </div>

        </div>

    </div>



    <footer class="footer">

        <div class="container">

            <div class="row">

                <div class="col-sm wow rollIn" data-wow-delay="0.5s">

                    <img src="/assets/images/phone_footer.png" class="img-fluid phone_footer">

                </div>

                <div class="col-sm wow fadeInRight" data-wow-delay="1s">

                    <img src="/assets/images/qr.png" class="qr"><br>
                    <h3>Descarga LUCRO en tu celular</h3>

                    Completa desafíos y se parte de la comunidad de usuarios que se lucra de muchas formas.

                    <div class="tiendas">
                        <img src="/assets/images/ios.png" class="store">
                        <img src="/assets/images/android.png" class="store">
                    </div>


                </div>

            </div>

            <div class="row logo_footer fadeIn" data-wow-delay="2s">


                <div class="col">
                    <img src="/assets/images/Brand-Lucro.png" class="logo_footer">
                </div>


            </div>


            <div class="row links_footer">




                <div class="col-sm-3">


                    <strong>Lucro App</strong>
                    <ul>

                        <li><a href="#">¿Qué es lucro App?</a></li>
                        <li><a href="#">¿Cómo te Lucras?</a></li>
                        <li><a href="#">La comunidad</a></li>

                    </ul>


                </div>
                <div class="col-sm-3">


                    <!--

                    <strong>Lucro Inside</strong>
                    <ul>

                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Estudios de mercado</a></li>
                        <li><a href="#">Quienes somos</a></li>

                    </ul>

                -->


                </div>
                <div class="col-sm-3">


                </div>
                <div class="col-sm-3 apps_lisks">

                    <strong>Descarganos aquí</strong>

                    <img src="/assets/images/ios.png" class="store_footer">
                    <img src="/assets/images/android.png" class="store_footer">


                </div>


            </div>


            <div class="row copy">

                <div class="col-sm-8 order-2 order-sm-1 copy_main">
                    © 2020 Lucro App - Términos y Condiciones de Lucro App y Políticas de Privacidad
                </div>
                <div class="col-sm-4 order-1 order-sm-2">


                    <ul class="redes">
                        <li>
                            <a href="#"><img src="/assets/images/instagram.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/images/linkedin.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/images/twitter.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/images/youtube.png"></a>
                        </li>
                    </ul>


                </div>


            </div>





        </div>

    </footer>


</section>