<app-header>
</app-header>
<section id="login " class="seccion ">

    <div class="caja_box ">

        <div class="container ">

            <div class="row ">
                <div class="col-sm ">


                    <div class="login_side first ">

                        <form>

                            <label for="correo " class="form-label ">Ingresa con tu correos</label>

                            <div class="input-group mb-3 ">
                                <input type="text " class="form-control " placeholder="Correo electronico " id="correo " required>
                                <span class="input-group-text "><img src="/assets/images/ojo.svg "></span>
                            </div>

                            <label for="pass " class="form-label ">Tu contraseña</label>

                            <div class="input-group mb-3 ">
                                <input type="text " class="form-control " type="password " placeholder="Contraseña " id="pass " required>
                                <span class="input-group-text "><img src="/assets/images/ojo.svg "></span>
                            </div>

                            <input type="submit " value="Iniciar sesión ">


                        </form>


                    </div>

                </div>
                <div class="col-sm ">

                    <div class="login_side ">

                        Crea una cuenta con nosotros y aprende <br>de los mejores

                        <a class="btn ">crear una cuenta</a>

                        <a href="# " class="facebook ">Iniciar sesión con facebook</a>
                        <a href="# " class="gmail ">Iniciar sesión con Google</a>

                    </div>


                </div>
            </div>

        </div>

    </div>



</section>