<app-header>
</app-header>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe width="800" height="500" src="https://www.youtube.com/embed/WlXZohfdRgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>

<section id="home" class="seccion">

    <div class="caja_box first_caja_box">

        <div class="container">

            <div class="row">
                <div class="col-sm-6 left_home">

                    <div class="red wow fadeInLeft">Lucro App</div>
                    <h2 class="wow fadeInLeft" data-wow-delay="0.5s">
                        <ng-container *ngIf="arrContenidos">
                            {{arrContenidos[0].titulo}}
                        </ng-container>
                    </h2>

                    <div class="text_top_home wow fadeInLeft" data-wow-delay="1s">
                        <ng-container *ngIf="arrContenidos">
                            <div [innerHtml]="arrContenidos[0].contenido"> </div>
                        </ng-container>
                    </div>

                    <div class="tiendas wow fadeInLeft" data-wow-delay="1.5s">
                        <img src="/assets/images/ios.png" class="store">
                        <img src="/assets/images/android.png" class="store">
                    </div>

                    <a class="btn fadeInLeft wow" data-wow-delay="2s" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Video lucro app</a>


                </div>
                <div class="col-sm-6 right_home">

                    <img src="/assets/images/girl.png" class="img-fluid wow fadeIn girl" data-wow-delay="2.5s">

                    <img src="/assets/images/girl5.png" class="img-fluid wow fadeInLeft girl5" data-wow-delay="2.8s">

                    <img src="/assets/images/girl1.png" class="img-fluid wow fadeInDown girl1" data-wow-delay="3.1s">

                    <img src="/assets/images/girl2.png" class="img-fluid wow bounceIn girl2" data-wow-delay="3.4s">

                    <img src="/assets/images/girl4.png" class="img-fluid wow rotateIn girl4" data-wow-delay="3.7s">

                    <div class="wow girl6 fadeIn" data-wow-delay="4.1s">
                        <img src="/assets/images/girl6.png" class="img-fluid wow tada " data-wow-delay="4.1s" data-wow-iteration="1" data-wow-duration="2s">
                    </div>


                    <div class="girl3 wow fadeInDown" data-wow-delay="4.4s">
                        <img src="/assets/images/girl3.png" class="img-fluid girl3 avatar">
                    </div>




                    <div class="tiendas_mobile wow fadeInUp" data-wow-delay="4s">
                        <img src="/assets/images/ios.png" class="store">
                        <img src="/assets/images/android.png" class="store">
                    </div>

                    <div class="clr"></div>

                </div>
            </div>

        </div>
    </div>

</section>