<app-header>
</app-header>
<section id="comunidad" class="seccion">

    <div class="caja_box intro_comunidad">

        <div class="container">

            <div class="row">
                <div class="col">

                    <div class="box_all visible_desk">
                        <div class="box1 wow flipInY" data-wow-delay="0.5s">
                            <img class="money " src="/assets/images/money.svg ">
                            <img src="/assets/images/box1.png " class="img-fluid ">
                            <div class="cifra ">
                                <div class="number ">30.000</div>Usuarios registrados
                            </div>
                        </div>
                        <div class="box_234 ">

                            <div class="box2 wow flipInX" data-wow-delay="1s">
                                <img src="/assets/images/box2.png " class="img-fluid ">
                                <div class="cifra_count ">
                                    57.4 % Mujeres
                                </div>
                            </div>
                            <div class="box3 wow flipInX" data-wow-delay="1.5s">
                                <img src="/assets/images/box3.png " class="img-fluid ">
                                <div class="cifra_count ">
                                    39,5% familias
                                </div>
                            </div>

                            <div class="box4 wow flipInX" data-wow-delay="2s">
                                <img src="/assets/images/box4.png " class="img-fluid ">
                                <div class="cifra_count ">
                                    2.443 comercios
                                </div>
                            </div>

                        </div>

                        <div class="box_567 ">

                            <div class="box5 wow flipInY" data-wow-delay="2.5s">
                                <img src="/assets/images/box5.png " class="img-fluid ">
                                <div class="cifra_count ">
                                    40.000 redenciones entregados
                                </div>

                                <div class="box_text wow fadeInLeft" data-wow-delay="3.5s">

                                    <div class="red ">Lucro App</div>
                                    <h3>Cada vez son más los que se lucran de muchas formas</h3>

                                </div>
                            </div>

                            <div class="box6 wow flipInY" data-wow-delay="3s">
                                <img src="/assets/images/box6.png " class="img-fluid ">
                                <div class="cifra_count ">
                                    42,0% Hombres
                                </div>
                            </div>

                            <div class="box7 wow flipInY" data-wow-delay="3.5s">
                                <img src="/assets/images/box7.png " class="img-fluid ">
                                <div class="cifra_count ">
                                    16.000.000 respuestas
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="box_all visible_mobile ">

                        <div class="box1_group ">

                            <div class="box1 wow flipInY" data-wow-delay="0.5s">
                                <img class="money " src="/assets/images/money.svg ">
                                <img src="/assets/images/box1.png " class="img-fluid ">
                                <div class="cifra ">
                                    <div class="number ">30.000 </div>Usuarios registrados
                                </div>
                            </div>

                            <div class="box2 wow flipInX" data-wow-delay="1s">
                                <img src="/assets/images/box2.png " class="img-fluid ">
                                <div class="cifra_count ">
                                    57.4 % Mujeres
                                </div>
                            </div>

                            <div class="box5 wow flipInX" data-wow-delay="1.5s">
                                <img src="/assets/images/box5.png " class="img-fluid ">
                                <div class="cifra_count ">
                                    40.000 regalos
                                </div>
                            </div>

                            <div class="clr "></div>



                        </div>

                        <div class="box2_group ">

                            <div class="box2_group_left ">


                                <div class="box_text wow fadeInLeft" data-wow-delay="2s">

                                    <div class="red ">Lucro App</div>
                                    <h3>Cada vez son más los que se lucran de muchas formas</h3>

                                </div>

                                <div class="box6 wow flipInY" data-wow-delay="2.5s">
                                    <img src="/assets/images/box6.png " class="img-fluid ">
                                    <div class="cifra_count ">
                                        42,0% Hombres
                                    </div>
                                </div>

                                <div class="box3 wow flipInY" data-wow-delay="4s">
                                    <img src="/assets/images/box3.png " class="img-fluid ">
                                    <div class="cifra_count ">
                                        39,5% familias
                                    </div>
                                </div>


                            </div>

                            <div class="box2_group_right ">

                                <div class="box4 wow flipInX" data-wow-delay="3s">
                                    <img src="/assets/images/box4.png " class="img-fluid ">
                                    <div class="cifra_count ">
                                        2.443 comercios
                                    </div>
                                </div>

                                <div class="box7 wow flipInX" data-wow-delay="3.5s">
                                    <img src="/assets/images/box7.png " class="img-fluid ">
                                    <div class="cifra_count ">
                                        16.000.000 respuestas
                                    </div>
                                </div>



                            </div>

                            <div class="clr "></div>






                        </div>


                    </div>


                </div>

            </div>

        </div>
    </div>


    <div class="caja_box influencers ">

        <div class="container ">

            <div class="row ">
                <div class="col-sm-7 box_influencers ">

                    <div class="red1 wow fadeInUp" data-wow-delay="1s">
                        <img src="/assets/images/instagram.gif" class="img-fluid ">
                    </div>

                    <div class="red2 wow fadeInUp" data-wow-delay="2s">
                        <img src="/assets/images/tik_tok.gif" class="img-fluid ">
                    </div>

                    <!--<div class="red3 wow fadeInUp" data-wow-delay="1.5s">
                        <img src="/assets/images/red3.png " class="img-fluid ">
                    </div>-->

                </div>
                <div class="col-sm-5 ">

                    <div class="box_influencers_text wow fadeInRight" data-wow-delay="2.5s">

                        <h3>Ellos nos recomienda y ganan con Lucro</h3>
                        Cada día son más los influencers que se suman a la comunidad de Lucro y se lucran de muchas formas.

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="caja_box testimonios">

        <div class="container ">

            <div class="row ">
                <div class="col-sm-12 box_testimonios ">


                    <ul class="visible_mobile menu_testimonios ">
                        <li>
                            <div class="testimonio activo " data-link="0 ">
                                <img src="/assets/images/t1.png ">
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="1 ">
                                <img src="/assets/images/t2.png ">
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="2 ">
                                <img src="/assets/images/t3.png ">
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="3 ">
                                <img src="/assets/images/t4.png ">
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="4 ">
                                <img src="/assets/images/t5.png ">
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="5 ">
                                <img src="/assets/images/t6.png ">
                            </div>
                        </li>
                    </ul>


                    <div class="testimonio t1 activo visible_desk avatar fadeInLeft wow" data-wow-delay="1s" data-link="0 ">
                        <img src="/assets/images/t1.png ">
                    </div>
                    <div class="testimonio t2 visible_desk avatar fadeInRight wow" data-wow-delay="1s" data-link="1 ">
                        <img src="/assets/images/t2.png ">
                    </div>
                    <div class="testimonio t3 visible_desk avatar fadeInLeft wow" data-wow-delay="1s" data-link="2 ">
                        <img src="/assets/images/t3.png ">
                    </div>
                    <div class="testimonio t4 visible_desk avatar fadeInRight wow" data-wow-delay="1s" data-link="3 ">
                        <img src="/assets/images/t4.png ">
                    </div>
                    <div class="testimonio t5 visible_desk avatar fadeInLeft wow" data-wow-delay="1s" data-link="4 ">
                        <img src="/assets/images/t5.png ">
                    </div>
                    <div class="testimonio t6 visible_desk avatar fadeInRight wow" data-wow-delay="1s" data-link="5 ">
                        <img src="/assets/images/t6.png ">
                    </div>


                    <div class="box_center_testimonios wow fadeInUp" data-wow-delay="1s">

                        <div class="box_1_testimonios ">

                            <h4>Nuestra comunidad ya esta ganando</h4>

                            <div class="slider_testimonios">


                                <div class="testimonio_texto ">
                                    “Me gusta Lucro porque gracias a sus desafíos que envía y a sus diferentes formas de lucrarse, yo soy el afortunado ganador de un TV Samsung de 43 pulgadas, que gané con los desafíos blancos y el juego Lucro Match".
                                    <div class="arroba">Edwar Malpica / Duitama</div>
                                </div>
                                <div class="testimonio_texto">
                                    “Le agradezco a Lucro porque gracias a sus desafíos blancos pude jugar y ganar este bono de 300 mil (...) También le agradezco porque su método de redimir dinero es muy sencillo”.
                                    <div class="arroba ">Cristian Daniel Vega Sierra / Bogotá</div>
                                </div>
                                <div class="testimonio_texto ">
                                    “Estoy en Lucro, me gusta porque ahí he ganado fichas y he ganado dinero, lo último que me gané fueron 20 mil pesos, gracias”.
                                    <div class="arroba">Jhon Freddy Romero / Bogotá</div>
                                </div>
                                <div class="testimonio_texto">
                                    “Ganador del Bono Plan en Familia por Valor de $100.000. Tiempo que obtuvo en el juego Lucro Match: 41.594 - Tabla de posiciones: N°4”.
                                    <div class="arroba ">Francisco Eladio Méndez Ramos / Ibagué</div>
                                </div>
                                <div class="testimonio_texto ">
                                    “Ganadora del Bono Diversión por valor de $50.000. Tiempo que obtuvo en el juego Lucro Match: 43.448. Tabla de posiciones: N°9”.
                                    <div class="arroba">Rosa María Sierra Calderón / Bogotá</div>
                                </div>
                                <div class="testimonio_texto">
                                    Ganadora del premio &quot;Bono Ahorra Plata&quot; de 100 mil pesos. Tiempo que obtuvo en el juego Lucro Match: 47.355. Tabla de posiciones: N° 8
                                    <div class="arroba ">Laura Vanessa García Rosas / Ibagué</div>
                                </div>


                            </div>

                        </div>

                        <div class="box_2_testimonios "></div>
                        <div class="box_3_testimonios "></div>

                    </div>



                </div>
            </div>
        </div>
    </div>

    <footer class="footer comunidad ">

        <div class="container ">


            <div class="row logo_footer ">


                <div class="col ">
                    <img src="/assets/images/Brand-Lucro.png " class="logo_footer ">
                </div>


            </div>


            <div class="row links_footer ">




                <div class="col-sm-3 ">


                    <strong>Lucro App</strong>
                    <ul>

                        <li><a href="# ">¿Qué es lucro App?</a></li>
                        <li><a href="# ">¿Cómo te Lucras?</a></li>
                        <li><a href="# ">La comunidad</a></li>

                    </ul>


                </div>
                <div class="col-sm-3 ">

                    <!--

                    <strong>Lucro Inside</strong>
                    <ul>

                        <li><a href="# ">Servicios</a></li>
                        <li><a href="# ">Estudios de mercado</a></li>
                        <li><a href="# ">Quienes somos</a></li>

                    </ul>

                -->


                </div>
                <div class="col-sm-3 ">


                </div>
                <div class="col-sm-3 apps_lisks">

                    <strong>Descárgala aquí</strong>

                    <img src="/assets/images/ios.png " class="store_footer ">
                    <img src="/assets/images/android.png " class="store_footer ">


                </div>


            </div>


            <div class="row copy ">

                <div class="col-sm-8 order-2 order-sm-1 copy_main ">
                    © 2020 Lucro App - Términos y Condiciones de Lucro App y Políticas de Privacidad
                </div>
                <div class="col-sm-4 order-1 order-sm-2 ">


                    <ul class="redes ">
                        <li>
                            <a href="https://www.instagram.com/lucroappoficial/" target="_blank"><img src="/assets/images/instagram.png "></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/lucro-app-col/" target="_blank"><img src="/assets/images/linkedin.png "></a>
                        </li>
                        <!--
                        <li>
                            <a href="https://www.facebook.com/lucroappoficial/" target="_blank"><img src="/assets/images/facebook.png "></a>
                        </li>

                    -->
                    </ul>


                </div>


            </div>





        </div>

    </footer>

</section>