<app-header>
</app-header>
<section id="comunidad" class="seccion">

    <div class="caja_box intro_comunidad">

        <div class="container">

            <div class="row">
                <div class="col">

                    <div class="box_all visible_desk">
                        <div class="box1 wow flipInY" data-wow-delay="0.5s">
                            <img class="money " src="/assets/images/money.svg ">
                            <img src="/assets/images/box1.png " class="img-fluid ">
                            <div class="cifra">
                                <ng-container *ngIf="arrCifras">
                                    <div class="number ">{{arrCifras[0].cifra}}</div>{{arrCifras[0].texto}}
                                </ng-container>
                            </div>

                            <div class="android">
                                <ng-container *ngIf="arrCifras">
                                    <img src="/assets/images/android.svg"> {{arrCifras[8].cifra}} {{arrCifras[8].texto}}
                                </ng-container>

                            </div>


                            <div class="ios">

                                <ng-container *ngIf="arrCifras">
                                    <img src="/assets/images/ios.svg"> {{arrCifras[7].cifra}} {{arrCifras[7].texto}}
                                </ng-container>

                            </div>

                        </div>
                        <div class="box_234 ">

                            <div class="box2 wow flipInX" data-wow-delay="1s">
                                <img src="/assets/images/box2.png " class="img-fluid ">
                                <div class="cifra_count verde">
                                    <ng-container *ngIf="arrCifras">
                                        {{arrCifras[1].cifra}} {{arrCifras[1].texto}}
                                    </ng-container>
                                </div>
                            </div>
                            <div class="box3 wow flipInX" data-wow-delay="1.5s">
                                <img src="/assets/images/box3.png " class="img-fluid ">
                                <div class="cifra_count verde">
                                    <ng-container *ngIf="arrCifras">
                                        {{arrCifras[3].cifra}} {{arrCifras[3].texto}}
                                    </ng-container>
                                </div>
                            </div>

                            <div class="box4 wow flipInX" data-wow-delay="2s">
                                <img src="/assets/images/box4.png " class="img-fluid ">
                                <div class="cifra_count rojo">
                                    <ng-container *ngIf="arrCifras">
                                        {{arrCifras[4].cifra}} {{arrCifras[4].texto}}
                                    </ng-container>
                                </div>
                            </div>

                        </div>

                        <div class="box_567 ">

                            <div class="box5 wow flipInY" data-wow-delay="2.5s">
                                <img src="/assets/images/box5.png " class="img-fluid ">
                                <div class="cifra_count rojo">
                                    <ng-container *ngIf="arrCifras">
                                        {{arrCifras[5].cifra}} {{arrCifras[5].texto}}
                                    </ng-container>
                                </div>

                                <div class="box_text wow fadeInLeft" data-wow-delay="3.5s">

                                    <div class="red ">Lucro App</div>
                                    <h3>Cada vez son más los que se lucran de muchas formas</h3>

                                </div>
                            </div>

                            <div class="box6 wow flipInY" data-wow-delay="3s">
                                <img src="/assets/images/box6.png " class="img-fluid ">
                                <div class="cifra_count verde">
                                    <ng-container *ngIf="arrCifras">
                                        {{arrCifras[2].cifra}} {{arrCifras[2].texto}}
                                    </ng-container>
                                </div>
                            </div>

                            <div class="box7 wow flipInY" data-wow-delay="3.5s">
                                <img src="/assets/images/box7.png " class="img-fluid ">
                                <div class="cifra_count amarillo">
                                    <ng-container *ngIf="arrCifras">
                                        {{arrCifras[6].cifra}} {{arrCifras[6].texto}}
                                    </ng-container>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="box_all visible_mobile ">

                        <div class="box1_group ">

                            <div class="box1 wow flipInY" data-wow-delay="0.5s">
                                <img class="money " src="/assets/images/money.svg ">
                                <img src="/assets/images/box1.png " class="img-fluid ">
                                <div class="cifra ">
                                    <ng-container *ngIf="arrCifras">
                                        <div class="number ">{{arrCifras[0].cifra}}</div>{{arrCifras[0].texto}}
                                    </ng-container>
                                </div>

                                <div class="android">
                                    <ng-container *ngIf="arrCifras">
                                        <img src="/assets/images/android.svg"> {{arrCifras[8].cifra}} {{arrCifras[8].texto}}
                                    </ng-container>

                                </div>


                                <div class="ios">

                                    <ng-container *ngIf="arrCifras">
                                        <img src="/assets/images/ios.svg"> {{arrCifras[7].cifra}} {{arrCifras[7].texto}}
                                    </ng-container>

                                </div>
                            </div>

                            <div class="box2 wow flipInX" data-wow-delay="1s">
                                <img src="/assets/images/box2.png " class="img-fluid ">
                                <div class="cifra_count verde">
                                    <ng-container *ngIf="arrCifras">
                                        {{arrCifras[1].cifra}} {{arrCifras[1].texto}}
                                    </ng-container>
                                </div>
                            </div>

                            <div class="box5 wow flipInX" data-wow-delay="1.5s">
                                <img src="/assets/images/box5.png " class="img-fluid ">
                                <div class="cifra_count rojo">
                                    <ng-container *ngIf="arrCifras">
                                        {{arrCifras[5].cifra}} {{arrCifras[5].texto}}
                                    </ng-container>
                                </div>
                            </div>

                            <div class="clr "></div>



                        </div>

                        <div class="box2_group ">

                            <div class="box2_group_left ">


                                <div class="box_text wow fadeInLeft" data-wow-delay="2s">

                                    <div class="red ">Lucro App</div>
                                    <h3>
                                        <ng-container *ngIf="arrContenidos">
                                            {{arrContenidos[0].titulo}}
                                        </ng-container>
                                    </h3>

                                </div>

                                <div class="box6 wow flipInY" data-wow-delay="2.5s">
                                    <img src="/assets/images/box6.png " class="img-fluid ">
                                    <div class="cifra_count verde">
                                        <ng-container *ngIf="arrCifras">
                                            {{arrCifras[2].cifra}} {{arrCifras[2].texto}}
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="box3 wow flipInY" data-wow-delay="4s">
                                    <img src="/assets/images/box3.png " class="img-fluid ">
                                    <div class="cifra_count verde">
                                        <ng-container *ngIf="arrCifras">
                                            {{arrCifras[3].cifra}} {{arrCifras[3].texto}}
                                        </ng-container>
                                    </div>
                                </div>


                            </div>

                            <div class="box2_group_right ">

                                <div class="box4 wow flipInX" data-wow-delay="3s">
                                    <img src="/assets/images/box4.png " class="img-fluid ">
                                    <div class="cifra_count rojo">
                                        <ng-container *ngIf="arrCifras">
                                            {{arrCifras[4].cifra}} {{arrCifras[4].texto}}
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="box7 wow flipInX" data-wow-delay="3.5s">
                                    <img src="/assets/images/box7.png " class="img-fluid ">
                                    <div class="cifra_count amarillo">
                                        <ng-container *ngIf="arrCifras">
                                            {{arrCifras[6].cifra}} {{arrCifras[6].texto}}
                                        </ng-container>
                                    </div>
                                </div>



                            </div>

                            <div class="clr "></div>






                        </div>


                    </div>


                </div>

            </div>

        </div>
    </div>


    <div class="caja_box influencers ">

        <div class="container ">

            <div class="row ">
                <div class="col-sm-7 box_influencers ">

                    <div class="red1 wow fadeInUp" data-wow-delay="1s">

                        <ng-container *ngIf="arrInfluencers">
                            <img src="https://lucro.omgagency.co/{{arrInfluencers[0].imagen}}" class="img-fluid ">
                        </ng-container>

                    </div>

                    <div class="red2 wow fadeInUp" data-wow-delay="2s">
                        <ng-container *ngIf="arrInfluencers">
                            <img src="https://lucro.omgagency.co/{{arrInfluencers[1].imagen}}" class="img-fluid ">
                        </ng-container>
                    </div>

                    <!--<div class="red3 wow fadeInUp" data-wow-delay="1.5s">
                        <img src="/assets/images/red3.png " class="img-fluid ">
                    </div>-->

                </div>
                <div class="col-sm-5 ">

                    <div class="box_influencers_text wow fadeInRight" data-wow-delay="2.5s">

                        <h3>
                            <ng-container *ngIf="arrContenidos">
                                {{arrContenidos[1].titulo}}
                            </ng-container>
                        </h3>
                        <ng-container *ngIf="arrContenidos">
                            <div [innerHtml]="arrContenidos[1].contenido"> </div>
                        </ng-container>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="caja_box testimonios">

        <div class="container ">

            <div class="row ">
                <div class="col-sm-12 box_testimonios ">


                    <ul class="visible_mobile menu_testimonios ">
                        <li>
                            <div class="testimonio activo " data-link="0 ">
                                <ng-container *ngIf="arrTestimonios">
                                    <img src="https://lucro.omgagency.co/{{arrTestimonios[0].foto}}">
                                </ng-container>
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="1 ">
                                <ng-container *ngIf="arrTestimonios">
                                    <img src="https://lucro.omgagency.co/{{arrTestimonios[1].foto}}">
                                </ng-container>
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="2 ">
                                <ng-container *ngIf="arrTestimonios">
                                    <img src="https://lucro.omgagency.co/{{arrTestimonios[2].foto}}">
                                </ng-container>
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="3 ">
                                <ng-container *ngIf="arrTestimonios">
                                    <img src="https://lucro.omgagency.co/{{arrTestimonios[3].foto}}">
                                </ng-container>
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="4 ">
                                <ng-container *ngIf="arrTestimonios">
                                    <img src="https://lucro.omgagency.co/{{arrTestimonios[4].foto}}">
                                </ng-container>
                            </div>
                        </li>
                        <li>
                            <div class="testimonio " data-link="5 ">
                                <ng-container *ngIf="arrTestimonios">
                                    <img src="https://lucro.omgagency.co/{{arrTestimonios[5].foto}}">
                                </ng-container>
                            </div>
                        </li>
                    </ul>


                    <div class="testimonio t1 activo visible_desk avatar fadeInLeft wow" data-wow-delay="1s" data-link="0 ">
                        <ng-container *ngIf="arrTestimonios">
                            <img src="https://lucro.omgagency.co/{{arrTestimonios[0].foto}}">
                        </ng-container>
                    </div>
                    <div class="testimonio t2 visible_desk avatar fadeInRight wow" data-wow-delay="1s" data-link="1 ">
                        <ng-container *ngIf="arrTestimonios">
                            <img src="https://lucro.omgagency.co/{{arrTestimonios[1].foto}}">
                        </ng-container>
                    </div>
                    <div class="testimonio t3 visible_desk avatar fadeInLeft wow" data-wow-delay="1s" data-link="2 ">
                        <ng-container *ngIf="arrTestimonios">
                            <img src="https://lucro.omgagency.co/{{arrTestimonios[2].foto}}">
                        </ng-container>
                    </div>
                    <div class="testimonio t4 visible_desk avatar fadeInRight wow" data-wow-delay="1s" data-link="3 ">
                        <ng-container *ngIf="arrTestimonios">
                            <img src="https://lucro.omgagency.co/{{arrTestimonios[3].foto}}">
                        </ng-container>
                    </div>
                    <div class="testimonio t5 visible_desk avatar fadeInLeft wow" data-wow-delay="1s" data-link="4 ">
                        <ng-container *ngIf="arrTestimonios">
                            <img src="https://lucro.omgagency.co/{{arrTestimonios[4].foto}}">
                        </ng-container>
                    </div>
                    <div class="testimonio t6 visible_desk avatar fadeInRight wow" data-wow-delay="1s" data-link="5 ">
                        <ng-container *ngIf="arrTestimonios">
                            <img src="https://lucro.omgagency.co/{{arrTestimonios[5].foto}}">
                        </ng-container>
                    </div>



                    <div class="box_center_testimonios wow fadeInUp" data-wow-delay="1s">

                        <div class="box_1_testimonios ">

                            <h4>
                                <ng-container *ngIf="arrContenidos">
                                    {{arrContenidos[2].titulo}}
                                </ng-container>
                            </h4>




                            <div class="slider_testimonios">

                                <div class="testimonio_texto" *ngFor="let item of arrTestimonios">
                                    {{item.testimonio}}
                                    <div class="arroba"> {{item.nombre}} </div>
                                </div>

                            </div>

                        </div>

                        <div class="box_2_testimonios"></div>
                        <div class="box_3_testimonios"></div>

                    </div>



                </div>
            </div>
        </div>
    </div>

    <footer class="footer comunidad ">

        <app-footer>
        </app-footer>

    </footer>

</section>